.item-card {
    padding: auto;
    display: flex;
    margin: 15px;
    overflow: hidden;
    width: 75%;
    height: 423px;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color:aliceblue;
    border: black solid ;

}

svg.background-image {
    margin: 10px;
    width: 100%;
    max-height: 75%;
}