.item-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid rgb(0, 0, 0);
    width: 60%;
    height: 25rem;
    background-color: aliceblue;
}



.background-image {
    max-width: 30rem;
    max-height: 75%;
}