.directory-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.directory-container h3 {
    color: red;
    margin: 1vh;
}